{{ ansible_managed | comment(decoration="# ") }}
{
	log {
		output file {{ caddy_log_path }}/caddy.log {
			roll_size 100M
			mode 660
		}
	}

	{% if caddy_metrics_enabled %}
	metrics {
		per_host
	}
	{% endif %}

	servers {
	}

	layer4 {
		import ./snippets/layer4.conf
	}
}

(fallback_pangolin) {
    reverse_proxy https://195.201.133.132:443 {
        header_up Host {host}

        transport http {
            tls_server_name pangolin.berger-em.net
        }
    }
}

import snippets/tls.conf
import vhosts/*

# Fallback for unmatched requests. This should be the last entry in the Caddyfile.
*.berger-em.net {
    import tls_cloudflare
    log {
        output file {{ caddy_log_path }}/fallback-berger.log {
            roll_size 100M
            mode 660
        }
    }
    import fallback_pangolin
}

{% if caddy_tls_dns_allinkl_enabled %}
*.berger.saarland {
    import tls_allinkl
    log {
        output file {{ caddy_log_path }}/fallback-saarland.log {
            roll_size 100M
            mode 660
        }
    }
    import fallback_pangolin
}
{% endif %}
